<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casos Clínicos</title>
    <link rel="stylesheet" href="static/css/prueba.css">
</head>
<body>
    <header>
        <h1>Casos Clínicos</h1>
    </header>

    <main>
        <div class="simulacion-container">
            <div class="campo">
                <label for="temperatura">Temperatura:</label>
                <input type="text" id="temperatura" name="temperatura">
                <button class="btn-simular">Simular</button>
            </div>
            <div class="campo">
                <label for="presion">Presión Arterial:</label>
                <input type="text" id="presion" name="presion">
                <button class="btn-simular">Simular</button>
            </div>
            <div class="campo">
                <label for="ritmo-cardiaco">Ritmo Cardiaco:</label>
                <input type="text" id="ritmo-cardiaco" name="ritmo-cardiaco">
                <button class="btn-simular">Simular</button>
            </div>
            <div class="campo">
                <label for="ritmo-respiratorio">Ritmo Respiratorio:</label>
                <input type="text" id="ritmo-respiratorio" name="ritmo-respiratorio">
                <button class="btn-simular">Simular</button>
            </div>

            <div class="simulaTodo">
                <button class="btn-simular">Simular todo</button>
            </div>
        </div>

        <div class="tabla-container">
            <table>
                <thead>
                    <tr>
                        <th>Caso Clínico</th>
                        <th>Temperatura</th>
                        <th>Presión Arterial</th>
                        <th>Ritmo Cardiaco</th>
                        <th>Frecuencia Respiratoria</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Caso 1</td>
                        <td>37.5°C</td>
                        <td>120/80 mmHg</td>
                        <td>80 bpm</td>
                        <td>16 rpm</td>
                    </tr>
                    <tr>
                        <td>Caso 2</td>
                        <td>37.5°C</td>
                        <td>120/80 mmHg</td>
                        <td>80 bpm</td>
                        <td>16 rpm</td>
                    </tr>
                    <tr>
                        <td>Caso 3</td>
                        <td>37.5°C</td>
                        <td>120/80 mmHg</td>
                        <td>80 bpm</td>
                        <td>16 rpm</td>
                    </tr>
                    <tr>
                        <td>Caso 4</td>
                        <td>37.5°C</td>
                        <td>120/80 mmHg</td>
                        <td>80 bpm</td>
                        <td>16 rpm</td>
                    </tr>
                    <tr>
                        <td>Caso 5</td>
                        <td>37.5°C</td>
                        <td>120/80 mmHg</td>
                        <td>80 bpm</td>
                        <td>16 rpm</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
