html {
    zoom: 80%;
}
.contenido{
    margin-left: 60px;
}
/* Estilo para la línea blanca que se extiende a lo largo de la página */
.footer-divider {
    width: 100%;
    height: 10px;
    background-color: white;
    margin-top: 650px;
    position: absolute;
}

/* Estilo para el pie de página (footer) */
.footer {
    background-color: #246355; /* Color de fondo del campo verde */
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 650px;
 
}

/* Estilos para el contenido del pie de página */
.footer-content {
    z-index: 1; /* Asegura que el contenido esté sobre la línea blanca */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para la información del diseñador en el pie de página */
.footer-info {
    font-size: 14px;
    margin-bottom: 10px;
}

/* Estilo para el logo en el pie de página */
.footer-logo img {
    max-width: 100px;
    height: auto;
    margin-left: 10px; /* Espacio entre el texto y el logo */
}
/* Estilo para el campo de entrada del PIN */
#pin {
    padding: 15px; /* Ajusta el padding para que se vea más grande y claro */
    font-size: 18px; /* Tamaño de la fuente */
    text-align: center; /* Centrar el texto */
    border: 2px solid #4CAF50; /* Añadir un borde verde alrededor del campo */
    border-radius: 10px; /* Borde redondeado */
    margin-bottom: 20px; /* Espacio inferior */
    width: 200px; /* Ancho del campo */
}

/* Estilo para el botón "Crear Evaluación" */
/* Estilo para el botón "Crear Evaluación" */
.btn-crear-evaluacion {
    background-color: #246355; /* Color de fondo verde */
    border: none;
    color: white; /* Color de texto blanco */
    padding: 15px 32px; /* Tamaño del padding */
    text-align: center; /* Alinear texto al centro */
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px; /* Borde redondeado */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
}

/* Cambios al pasar el cursor sobre el botón "Crear Evaluación" */
.btn-crear-evaluacion:hover {
    background-color: #0F362D; /* Color de fondo más oscuro */
}
.btn-terminar-eva {
    background-color: #246355; /* Color de fondo naranja */
    border: none;
    color: white; /* Color de texto blanco */
    padding: 15px 32px; /* Tamaño del padding */
    text-align: center; /* Alinear texto al centro */
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 5px; 
    margin-left: 300px;
    cursor: pointer; /* Cambiar el cursor a una mano */
    border-radius: 10px; /* Borde redondeado */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
}

/* Cambios al pasar el cursor sobre el botón "terminar evaluación" */
.btn-terminar-eva:hover {
    background-color: #0F362D; /* Color de fondo más oscuro */
}