html {
    zoom: 80%;
}
.pdf-container {
    width: 100%;
    height: 800px;
    margin-top: 30px
    /* O el alto deseado */
    /* Agrega cualquier otro estilo deseado para el contenedor */
}

.pdf-embed {
    width: 100%;
    height: 100%;
    /* Agrega cualquier otro estilo deseado para el elemento embed */
}
/* Estilo para la línea blanca que se extiende a lo largo de la página */
.footer-divider {
    width: 100%;
    height: 10px;
    background-color: white;
    margin-top: 0px;
    position: absolute;
}


/* Estilo para el pie de página (footer) */
.footer {
    background-color: #246355; /* Color de fondo del campo verde */
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
 
}

/* Estilos para el contenido del pie de página */
.footer-content {
    z-index: 1; /* Asegura que el contenido esté sobre la línea blanca */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para la información del diseñador en el pie de página */
.footer-info {
    font-size: 14px;
    margin-bottom: 10px;
}

/* Estilo para el logo en el pie de página */
.footer-logo img {
    max-width: 100px;
    height: auto;
    margin-left: 10px; /* Espacio entre el texto y el logo */
}
